#root {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  width: 80vw;
  height: 5vw;
  display: flex;
  justify-content: end;
  padding: 10px;
}
.btn {
  color: black;
  background-color: bisque;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}
.btn-accent {
  background-color: rgb(92, 73, 175);
  color: black;
}
.btn-sucess {
  background-color: teal;
  color: white;
}
.btn-error {
  background-color: crimson;
  color: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #5e7087;
}
.guvi-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  justify-content: space-between;
  font-size: 14px;
}

.guvi-card:hover {
  border: 1px solid blue;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
